@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "GetUsers";
}

<h1>User List</h1>

<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th>Id</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>
                    <a asp-controller="Admin" asp-action="GetUserDet" class="btn btn-primary" asp-route-id="@user.Id">Details</a>
                    <button class="btn btn-danger" onclick="deleteUser('@user.Id')">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<form id="deleteForm" method="post" asp-action="DeleteUser" asp-controller="Admin">
    @Html.AntiForgeryToken()
    <input type="hidden" id="deleteUserId" name="id" />
</form>

<script>
    function deleteUser(userId) {
        if (confirm("Are you sure you want to delete this user?")) {
            document.getElementById('deleteUserId').value = userId;
            document.getElementById('deleteForm').submit();
        }
    }
</script>